/.cache/
/node_modules/

/npm-debug.log*
/yarn-debug.log*
/yarn-error.log*
/yarn.lock

/.tmp-gulp-compile-*/

/dist/**/*.html
/dist/**/*.css
/dist/**/*.js
/dist/**/*.jpg
/dist/**/*.png
/dist/**/*.gif
/dist/**/*.svg
/dist/**/*.pdf

!/dist/ir/eir/eir.js
