@charset "UTF-8";

@import "../../_various";
@import "destyle.css";

* {
  box-sizing: border-box;
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  background: #fff;
  font-family: Meiryo, "メイリオ", "Hiragino Kaku Gothic Pro",
    "ヒラギノ角ゴ Pro W3", Verdana, Helvetica, Arial, sans-serif;
  // font-family: "Noto Sans JP";
  font-weight: 400;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  vertical-align: bottom;
  color: #333;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
}

article,
aside,
footer,
header,
main,
section {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

// @font-face {
//   font-family: "Noto Sans JP";
//   font-display: swap;
//   font-style: normal;
//   font-weight: 400;
//   src: url("../fonts/NotoSansCJKjp-Regular.woff2") format("woff2"),
//     url("../fonts/NotoSansCJKjp-Regular.woff") format("woff"),
//     url("../fonts/NotoSansCJKjp-Regular.ttf") format("truetype"),
//     url("../fonts/NotoSansCJKjp-Regular.eot") format("embedded-opentype");
// }
