extends _tmpl/_tmpl

block param
	- var title = "";
	- var keywords = "";
	- var description = "";

block stylesheet
	link(rel="stylesheet", href="/css/style.css")

block contents
	main

block script
